// Variables

$color_texto: #14213D;
$color_titulos: #FCA311;
$color_especial: #E5E5E5;
$color_botones: #FFFFFF;

* {
	margin: 0;
}

body {
	margin: 0;
} 

// compartidos
// headers

.header, .before {
	background-size: cover;
	height: 600px;
	max-width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.characters {
	width: 800px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}


// Friends 
.header {
	background-image: url(img/main_bg.jpg);
}

.header__title, .header__text {
	margin-left: 20px;
}

.header__title {
	color: $color_titulos;
	margin-bottom: 20px;
	font-size: 50px;	
}


.header__text {
	color: $color_texto;
}

// nav

.nav {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}

.nav__ul {
	display: flex;
	align-items: center;
}

.nav__box, .actived {
	width: 120px;
	height: 40px;
	background-color: $color_botones;
	border: 1px solid $color_texto;
	cursor: pointer;
}

.nav__box:hover {
	background-color: $color_texto;
	color: $color_especial;
}

.nav__list {
	list-style: none;
	text-align: center;
	display: block;
}

.nav__enlace {
	position: relative;
	top: 10px;
	text-decoration: none;
	color: $color_titulos
}


// contenido index

.information__general {
	margin-top: 100px;
	margin-left: 50px;
	max-width: 100%;
	width: 400px;
	height: 400px;
	display: grid;
	grid-template-areas: 
        "title img"
        "text img";
	grid-row-gap: 0;
	grid-column-gap: 150px;
	position: relative; 
	align-items: center;
}

.information__img {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	grid-area: img;
}

.information__title {
	display: block;
	width: 150px;
	position: relative;
	grid-area: title;
	margin-left: 200px;
	align-self: flex-end;
	color: $color_titulos;
	text-decoration: underline;
}

.information__parrafo {
	grid-area: text;
	margin: 0 0 0 200px;
	width: 200px;
	padding: 0;
	color: $color_texto;
}

.information__title--second {
	margin: 100px 0 25px 250px;
	color: $color_titulos;
}

.information__parrafo--second {
	margin: 0 250px;
	color: $color_texto;
}

// footer
.footer {
	width: 100%;
	height: 200px;
	background-color: $color_texto;
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 40px;
}


.footer__text {
	color: $color_especial;
	padding-top: 20px;
}

.footer__content:first-child {
	margin-top: 15px;
}
.enlaces__ul {
	list-style: none;
}

.enlaces__list {
	padding-top: 15px;
}

.enlaces__enlace {
	color: $color_titulos;
}

.enlaces__enlace:hover {
	color: $color_especial;
}


// characters
.before {
	background-image: url(img/characters-bg.jpg);
}

.before__title, .before__text {
	margin-right: 100px;
	align-self: flex-end;
	position: absolute;
	color: $color_titulos;
}

.before__title {
	font-size: 50px;
}

.before__text {
	margin-top: 80px;
	color: $color_texto
}


.characters {
	display: flex;
	flex-direction: column;
}

.characters__img {
	width: 300px;
	height: 400px;
	margin-bottom: 50px;
	border: #FCA311 2px solid;
	grid-area: img;
	border-radius: 50%;
}

.characters__title {
	color: $color_titulos;
	margin-bottom: 20px;
	text-decoration: underline;
	grid-area: title;
	align-self: center;
}

.characters__text {
	color: $color_texto;
	margin-bottom: 50px;
	grid-area: text;
	width: 500px;
	margin-right: 50px;
}

.characters__section {
	display: grid;
	grid-template-areas: 
	'title img'
	'text img';
	padding-top: 50px;
}

.characters__text::selection {
	color: $color_especial;
	background-color: $color_titulos;
}

.characters__title::selection {
	color: $color_especial;
	background-color: $color_titulos;
}




// temporadas
.temp {
	background-image: url(img/season_bgs.jpg);
	height: 600px;
	display: flex;
	flex-direction: column; 
	justify-content: center;
}


.temp__title {
	color: $color_titulos;
}

.temp__title, .temp__text {
	margin-left: 25px;
}

.temp__text {
	line-height: 50px;
}

.season__main {
	margin-left: 70px;
	display: grid;
	grid-template-columns: repeat(2, 500px);
	grid-template-rows: repeat(4, 200px);
	grid-row-gap: 500px;
	grid-column-gap: 200px;
}

.season {
	display: flex;
	flex-direction: column;
}

.season__img {
	width: 200px;
	height: 300px;
	margin-top: 50px;
	align-self: center;
	border: 3px solid $color_texto;
	outline: 3px solid $color_texto;
	outline-offset: 15px;
}

.season__text {
	margin-bottom: 10px;
	color: $color_texto;
}

.season__title {
	text-align: center;
	line-height: 70px;
	color: $color_titulos;
}

.season__main {
	margin-top: 70px;
}

// BLOOPERS
.bloopers {
	background-image: url(img/bloopers1-bg.jpg);
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.bloopers__title, .bloopers__text {
	margin-right: 50px;
}

.bloopers__title {
	line-height: 70px;
	color: $color_titulos;
}

.main-behind {
	margin: 70px 0 0 0;
}

.behind {
	text-align: center;
	color: $color_titulos;
	margin-bottom: 50px;
}

.behind__content {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 300px);
	grid-template-rows: repeat(2, 400px);
	column-gap: 200px;
	margin: 0;
	overflow: hidden;
}

.behind__videos {
	width: 300px;
	height: 300px;
	z-index: 25;
	
}


.bg-marco {
	position: absolute;
	top: 40em;
	transform: rotate(90deg);
	padding: 25px;
	margin-left: 140px;
}

.bg-marco:first-child {
	left: 500px;
}

.bg-marco:nth-child(3) {
	top: 65em;
}


// KNOW

.know {
	background-image: url(img/bg-know.jpg);
	height: 600px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.know__title {
	color: $color_titulos;
}

.know__text {
	color: $color_especial;
}

.watch {
	margin-top: 100px;
	margin-bottom: 200px;
	display: grid;
	grid-template-columns: repeat(2, 400px);
	grid-template-rows: 100px;
}

.watch__img {
	width: 800px;
	margin-left: 80px;
}

.watch__title {
	margin: 150px 0 35px 80px;
	
}

.watch__text {
	margin-left: 80px;
	margin-top: 150px;
	align-self: center;

}